@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #000000;
    line-height: 1.15;
}

input[type=password],
input[type=text] {
    width: 100%;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #f1f1f1;
    padding: 16px;

}

button.register_submit {
    background: #af4caf;
    padding: 16px;
    margin: 8px;
    cursor: pointer;
    opacity: 0.9;
    border: none;
    width: 100%;
    color: white;
}

button.register_submit:hover {
    opacity: 1;
}
.home:hover {
    color:rgb(169, 105, 233);
}